.container{
	width: 980px;
    margin: 0 auto;
}
.breadcrumb-box{
	padding-top: 24px;
}
.el-breadcrumb{
	font-size: 14px;
    line-height: 1;
}
.el-breadcrumb__item{
	float: left;
	
}
.el-breadcrumb__inner{
	color: #606266;
}
.el-breadcrumb__inner a{
	font-weight: 700;
    text-decoration: none;
    transition: color .2s cubic-bezier(.645,.045,.355,1);
    color: #303133;
    font-size: 12px;
}
.el-breadcrumb__separator{
	margin: 0 6px;
    font-weight: 400;
}
.el-icon-arrow-right{
	color: #c0c4cc;
}
[class*=" el-icon-"]{
	font-family: element-icons!important;
    speak: none;
    font-style: normal;
	font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    
}
.step{
	padding-top: 24px;
}
.step-box{
	text-align: center;
}
.steps-list{
	display: inline-block;
}
.steps-icon{
	background-color: #fff;
    width: 20px;
    height: 20px;
   	color: #ccd0d7;
    font-family: Arial;
    font-weight: 700;
    border-radius: 50%;
    line-height: 20px;
    border: 2px solid #ccd0d7;
    margin: 0 10px;
    text-align: center;
}
.steps-icon-choose{
	color: #f25d8e;
    border-color:#f25d8e;
}
.steps-icon-pass{
	color: #00a1d6;
    border-color: #00a1d6;
}
.steps-title{
	font-size: 18px;
    color: #99a2aa;
    margin-right: 10px;
}
.steps-title-choose{
	color: #f25d8e;
}
.steps-title-pass{
	color: #00a1d6;
}
.steps-line{
	border-top: 1px solid #e5e9ef;
	height: 1px;
    background: #e5e9ef;
    width: 60px;
    margin-top: 11px;
}
.float-left{
	float: left;
}
.info{
	padding: 60px 0;
	text-align: center;
}
.container .form-group{
	width: 350px;
}
.main-text{
	min-height: 22px;
   line-height: 22px;
    font-size: 14px;
    color: #222;
    width: 326px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	height: 22px;
	margin: 0;
	text-align: left;
}
.modify{
	display: inline-block;
	line-height:22px;
}
.form-group-title1{
	line-height: 0px;
}
.yzm-btn{
	top: 0;
	width: 88px;
   	height: 40px;
   	padding-left: 0;
   	padding-right: 0;
}
.reset_success{
	text-align:center;
	font-size: 22px;
}
.reset_success div{
	font-size: 12px;
	margin-top: 30px;
}
.btn-go{
	margin-top: 30px;
	width: 150px;
}
.hidden-group{
	margin-left: 155px;
}
