body{
	padding: 0;
	margin: 0;
	font: 12px/1.5 Microsoft YaHei,tahoma,\\5B8B\4F53,sans-serif;
	font-family: MicrosoftYaHei;
}
#main{
/*	float: left;*/
	width: 830px;
   /* border-left: 1px solid #ddd;*/
    background: #fff;
    min-height: 890px!important;
}
.title{
	height: 50px;
    padding-left: 30px;
    border-bottom: 1px solid #ddd;
}
.title-icon{
	float: left;
    width: 4px;
    height: 16px;
    margin-top: 18px;
    background-color: #00a1d6;
    border-radius: 4px;
}
.title-text{
	float: left;
    margin: 15px 0 0 5px;
    color: #00a1d6;
    font-size: 14px;
    cursor: default;
}
.user-setting-wrap{
	padding: 20px 20px 0;
    position: relative;
}
.el-form-item{
	margin-bottom: 22px;
}
.user-name,.user-sex,.user-sign,.user-date,.user-btn{
	float: left;
    width: 789px;
}
.el-form-item__label{
	width: 95px;
    text-align: right;
    margin-right: 20px;
    float: left;
    line-height: 30px;
    padding: 0;
    vertical-align: middle;
    font-size: 14px;
    color: #48576a;
    box-sizing: border-box;
}
.el-form-item__content{
	position: relative;
    font-size: 14px;
    line-height: 30px;
}
.el-input{
	float: left;
    width: 225px;
    height: 30px;
    margin-right: 40px;
    position: relative;
    font-size: 14px;
   	display: inline-block;
}
.el-input__inner{
	float: left;
    width: 225px;
    height: 30px;
    margin-right: 40px;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    display: inline-block;
}

input,select,textarea{
	font-family: inherit;
	font-weight: inherit;
	outline: none;
}
.el-textarea{
	float: left;
    width: 618px;
    height: 88px;
    resize: none;
   	vertical-align: bottom;
    display: inline-block;
}
.el-textarea__inner{
	float: left;
    width: 618px;
    height: 88px;
    resize: none;
    display: block;
    padding: 5px 7px;
    line-height: 1.5;
    color: #1f2d3d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    font-size: 14px;
    box-sizing: border-box;
}
.el-radio-group{
	display: inline-block;
    font-size: 0;
    line-height: 1;
    vertical-align: middle;
}
.el-radio-button{
	position: relative;
    display: inline-block;
    width: 52px;
}
.el-radio-button__orig-radio{
	opacity: 0;
    outline: 0;
    position: absolute;
    z-index: 100;
    /*left: -999px;*/
}
.el-radio-button__inner{
	margin-right: 20px;
    padding: 5px 8px;
    border: 1px solid #bfcbd9;
    border-radius: 5px!important;
    background: #f4f4f4;
    color: #717171;
    white-space: nowrap;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    font-size: 14px;
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.el-date-editor--date{
	width: 193px;
	position: relative;
    font-size: 14px;
   	display: inline-block;
}
.el-icon-date{
	position: absolute;
    width: 17px;
    height: 21px;
    right: 45px;
    top: 5px;
    text-align: center;
    color: #bfcbd9;
    transition: all .3s;
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    cursor:pointer;
}
.el-radio-button__inner:hover{
	background-color: #22a1d6!important;
    border-color: #22a1d6!important;
    color: #fff;
}
.choosed{
	background-color: #22a1d6!important;
	border-color: #22a1d6!important;
	color: #fff;
}
.el-input__inner:hover,.el-textarea__inner:hover{
	border-color: #8391A5;
}
.padding-dom{
	width: 789px;
    height: 39px;
    border-bottom: 1px solid #e5e9ef;
    margin-bottom: 40px;
}
.user-btn-warp{
	float: left;
    width: 789px;
    height: 36px;
    position: relative;
}
.user-btn-warp button{
	width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #00a1d6!important;
	border-color: #20a0ff;
	color: #fff;
	display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    outline: 0;
    text-align: center;
    -webkit-appearance: none;
    align-items: flex-start;    
    
}
.nick-exist{
	color: #f66495;	
	font-size: 12px;
	display: none;
}